[Unit]
Description=Run OhGodAnETHlargementPill as service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/OhGodAnETHlargementPill

[Install]
WantedBy=multi-user.target
